<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!-- Dev + CLI tools, etc. -->
  <package id="curl" />
  <package id="nuget.commandline" />
  <package id="wget" />
  <package id="wput" />
  <package id="ruby" />
  <package id="vim" />
  <package id="nodejs.install" />
  <package id="git" />
  <package id="vagrant" />

	<!-- Applications -->
  <package id="GoogleChrome" />
  <package id="Firefox" />
  <package id="winmerge" />
  <package id="7zip" />
  <package id="filezilla" />
  <package id="gimp" />
  <package id="hyper" />
  <package id="imgburn" />
  <package id="putty" />
  <package id="spotify" />
  <package id="steam" />
  <package id="SublimeText3" />
  <package id="veracrypt" />
  <package id="virtualbox" />
  <package id="vlc" />
  <package id="winscp" />
</packages>
